@use "../../assets//sass/variables.scss" as *;

.cardList {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 992px){
    
  }