@use "../../assets/sass/variables.scss" as *;

.card {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 400px;
    height:300px;
    margin: 20px 0px;

}

.cardImg {
    height:300px;
    width:200px;
    padding:5px;

    &__image {
        height: 100%;
        width:100%
    }
}

.cardText {
    width:270px;
    padding: 15px;
    

    //设置name的格式

    &__name {
        margin-bottom: 10px;
        margin-top: 35px;
        font-family: $primary-font;
    }

    &__name--text {
        margin: 0px;
        font-size: 40px;
        font-weight:bolder;
        color: $color-black;
        height: 50px;
        overflow: hidden;
    }

    //设置中间部分格式

    &__middle {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0px;
        font-family: $primary-font;
    }

    &__middle--tagline {
        margin: 0px;
        padding: 5px;
        padding-right:15px;
        text-align: center;
        font-size: 15px;
        font-weight:bolder;
        background-color: $color-black;
        color: white;

    }

    &__middle--abv {
        margin: 0px;
        padding: 5px;
        text-align: center;
        padding-left:15px;
        font-size: small;
        font-weight:bolder;
        background-color: rgb(192, 12, 12);
        color: $color-black;


    }


    //设置description格式
    &__description {
        margin: 0px;
    }

    &__description--text {
        margin-top: 30px;
        border: none;
        border-radius: 10px;
        width: 250px; 
        height:70px;
        overflow: auto;  
        padding: 10px;
        background-color: rgb(216, 209, 178);
        font-size: small;
        color: rgb(44, 42, 42);
        line-height: 17px;

        
        
    }

}