@use "./assets/sass/variables.scss" as *;

.app {
  background-color: $primary-color;
  height:100%;
  padding:20px 30px;


}











@media screen and (min-width: 992px){
  .app {
    max-width: 1200px;
    margin: 0 auto;
  }
  
}