@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

$font-family: Combo, sans-serif;

$primary-color: rgb(254, 249, 227);
$secondary-color: rgb(158, 8, 8);
$color-black: rgb(26, 23, 23);